.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  background-color: black;
}
.navBar{
  display: flex;
  /* flex-direction: row; */
  background-color: black;
  height: 20%;
  position: fixed;
  width: 100%;
}
.nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.navBarLeft{
  font-size: 4rem;
  align-self: center;
  margin-left: 2.5rem;
  color: lightgray;
  font-family: 'Abril Fatface', cursive;

}
.navBarLeft a{
  text-decoration: none;
  color: white;
}
.navBarRight{
  display: flex;
  float:right;
  align-items: center;
  /* margin-left: 50rem; */
  margin-right: 3rem;
  justify-content: space-around;
  color: lightgray;
  font-family: 'Noto Serif TC', serif;
}
.navBarRight a{
  color: white;
  text-decoration: none;
}
.mainBanner{
  width: 100%;
  height: 40rem;
  padding-top: 10rem;
  color: white;
  display: flex;
  /* background-image: url('https://66.media.tumblr.com/2a025788deef65a6a75b699fa8fe642b/tumblr_onxji1yMZY1r4mh0bo1_500.gifv'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-color: black;
}
.mainBannerTitle{
  font-size: 8rem;
  font-family: 'Playfair Display', serif;
  display: flex;
  align-self: center;
  padding-left: 3rem;
}
.mainBannerSub{
  font-size: 4rem;
  font-family: 'Noto Serif', serif;
  display: flex;
  text-align: right;
  align-items:flex-end;
  padding-right:3rem;
  padding-bottom: 3rem;
}
.homeSecondBanner{
  background-image: url('https://66.media.tumblr.com/dd94056aafbe370f2787e7d02b3bcf01/tumblr_oos9r3fvwZ1w0qmx4o1_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  color: white;
  height: 34rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Noto Serif', serif;
  font-size: 6rem;
  justify-content: center;
}
.whoAmI{
  font-family: 'Playfair Display', serif;
  justify-content: center;
  align-self: center;
  margin-bottom: 2rem;
  color: white;
}
.secondBannerDescription{
  margin-left: 5rem;
  margin-right: 5rem;
  font-family: 'Noto Serif TC', serif;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  color: lightgray
}
.aboutMeButtonHolder{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.projects{
  display: flex;
  height: 35rem;
  width: 100%;
  flex-flow: row-reverse;
  background-color: black
}
.projectBanner{
  margin-right: 3rem;
  margin-top: 3rem;
  width: 32%;
  background-image: url('https://66.media.tumblr.com/5bdbbe2833286753350be791b0bd9195/tumblr_olnyu850d91ue7yrmo1_500.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
}
.projectsTitle{
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 200;
  display: flex;
  align-items: center;
}
.featuredProjectTitle{
  color:white;
  font-size: 4rem;
}
.featuredProjectDescription{
  color: lightgray;
  font-family: 'Noto Serif TC', serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25rem;
  margin-right: 2rem;
  text-align: end;
}
.featuredProject{
  color: white;
  width: 20rem;
}
.languages{
background-color: rgb(237, 237, 237);
height: 30rem;
display: flex;
margin-top: 4rem;
}
.techBanner{
  background-image: url('https://66.media.tumblr.com/96e553a421865c1126b2b1150633c8a0/tumblr_omjtpe2ovP1s59cxeo1_1280.jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  color: black;
  width: 20rem;
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
}
.techBannerTitle{
  display:flex;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  align-items: center;
}
.languageIcons{
  display:flex;
  align-items: center;
  text-align: center;
  font-family: 'Noto Serif TC', serif;
}
.homeContact{
  color: white;
  height: 6rem;
  padding: 5rem;
}
.contactLinks{
  color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.contactLinks a{
  color: white;
  text-decoration: none;
}
.contactTitle{
  color:white;
  font-family: 'Noto Serif TC', serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.aboutMeBanner{
  /* background-image: url('https://66.media.tumblr.com/3b6234a1e92978f19e21a476543d4b64/a19af921377b7e7d-3d/s1280x1920/b80dd454dc7ab6369d8885b2cafb11cfe2ac4603.png'); */
  /* background-size: cover; */
  font-family: 'Playfair Display', serif;
  color: white;
  display: flex;
  flex-direction: end;
  padding-top: 10rem;
  margin-left: 2rem;
  font-size: 6rem;
  height: 20rem;
}
.aboutBannerMain{
  background-image: url('https://66.media.tumblr.com/63a544e29003210a2f16988e04f4c638/tumblr_oe09us5GbZ1vb7w0ho1_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin-left:14rem;
  margin-right:14rem;
  height:25rem;
}
.aboutBannerTitle{
  color: white;
  font-size: 6rem;
  font-family: 'Playfair Display', serif;
  display:flex;
}
.aboutMeDescription{
  background-image: url('https://66.media.tumblr.com/1a9fd6f233dc6688fcd9d425ca282fd5/tumblr_mqw6dfxR9K1scjq39o1_1280.jpg');
  background-size: cover;
  color: white;
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
  margin-bottom: 2rem;
  padding-right: 15rem;
  padding-left: 15rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 1rem;
}
.aboutResume{
  color: lightgray;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.resumeTitle{
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  font-family: 'Noto Serif TC', serif;
  color: lightgray;
}
.resumeButton{
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  color: lightgray;
  margin-bottom: 4rem;
}
.resumeButton a{
  text-decoration: none;
  color: white;
}
.projectPageQuote{
  width: 50;
  height: 30rem;
  padding-top: 12rem;
  padding-left: 5rem;
  margin-right: 10rem;
  margin-left: 5rem;
  color: white;
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-wrap: wrap;
}
.project{
  display: flex;
  height: 35rem;
  width: 100%;
  flex-flow: row-reverse;
  background-color: black
}
.projectBanner{
  margin-right: 3rem;
  margin-top: 3rem;
  width: 32%;
  background-image: url('https://66.media.tumblr.com/5bdbbe2833286753350be791b0bd9195/tumblr_olnyu850d91ue7yrmo1_500.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
}
.projectsTitle{
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 200;
  display: flex;
  align-items: center;
}
.projectTitle{
  color:white;
  font-size: 4rem;
}
.projectDescription{
  color: lightgray;
  font-family: 'Noto Serif TC', serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35rem;
  margin-right: 4rem;
  text-align: end;
}
.projectOne{
  color: white;
  width: 20rem;
}
.projectTwo{
  color: white;
  width: 20rem;
}
.projectThree{
  color: white;
  width: 20rem;
}
.projectLinks{
  color: white;
  font-family: 'Noto Serif TC', serif;
  display: flex;
  justify-content: flex-end;
  justify-content: space-evenly;
}

.projectLinks a{
  color: lightgray;
  text-decoration: none;
  margin-top: 3rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
